model_config_list { 
  config {
    name: 'gibb_salt_ffn'
    base_path: '/models/gibb_salt_ffn'
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
  config {
    name: 'other_salt_ffn'
    base_path: '/models/other_salt_ffn'
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
}
