model_config_list {
    config {
        name: 'cloth_salt_ffn'
        base_path: '/mnt/d/LVTN/backend/model/model/phone_salt_ffn/model'
        model_platform: "tensorflow",
        model_version_policy {
            specific {
                versions: 1
            }
        }
    }
    config {
        name: 'other_salt_ffn'
        base_path: '/mnt/d/LVTN/backend/model/model/other_salt_ffn/model'
        model_platform: "tensorflow",
        model_version_policy {
            specific {
                versions: 1
            }
        }
    }
}
